<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Reclamation Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<style>        
 
</style>
<body>

    <div class="container my-2">
        <h1>Rec List</h1>

        <a th:href="@{/ajouterRec}" class="btn btn-primary btn-sm mb-3"> Add Rec </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                
                   <th>  Name</th>
                    <th>  Email</th>
                    <th>  Text Rec</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="rec : ${recs}">
                    <td th:text="${rec.name}"></td>
                    <td th:text="${rec.email}"></td>
                    <td th:text="${rec.text}"></td>
                     
                </tr>
            </tbody>
        </table>
    </div>
      		<a th:href="@{/home}" class="btn btn-primary btn-sm mb-3" style="color: rgb(255, 255, 255);"> BACK_HOME </a>

</body>

</html>